
.leftpart{
    position: relative;
    float: left;
    margin-left: 18%;
}
.text1{
    position: relative;
    margin-left: 28%;
    bottom: 7rem;
    font-size: 25px;
    color: #719f82;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text2{
    position: relative;
    margin-left: 28%;
    bottom: 7rem;
    font-size: 18px;
}
.rightpart{
    float: right;
    margin-right: 18%;
}
#nav{
    width: 99%;
    background-color: #e2dfde;
    margin-top: 5%;
    height: 5rem;
    position: absolute;
    display: flexbox;
}

.buttons li{
    position: relative;
    list-style-type: none;
    margin-left: 12rem;
    padding: 30px;
}
a{
    text-decoration: none;
    color: black;
    
}
.a1{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}

.a2{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
.a3{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
.a4{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
.a5{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
.a6{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
.a7{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
.a8{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
.a9{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
.a10{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
.a11{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}
a:hover{
    background-color: #009f82;
}
#footer{
    width: 100%;
    background-color: #e2dfde;
    margin-top: 110%;
    height: 7rem;
    position: absolute;
    display: flexbox;
}
.left{
    position: relative;
    top: 20px;
    margin-left: 80px;
}
.b1{
    background-color: transparent;
    border-color: transparent;
}
.b1:hover{
    color: #16a68c;
}
.footertext{
    color: #747373;
    position: relative;
    margin-top: 45px;
    margin-left: 83px;

}
.pow{
    position: relative;
    float: right;
    margin-right: 80px;
    color: #747373;
    bottom: 1rem;
}


/*banner css*/
.slide {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide1 {
      background-image: url(
    "../assets/banner1.png");
  }
  .slide2 {
    background-image: url(
    "../assets/banner2.jpg");
  }
  .slide3 {
    background-image: url(
    "../assets/banner3.jpg");
  }
  .slide4 {
    background-image: url(
    "../assets/banner4.jpg");
  }
  .slide5 {
    background-image: url(
    "../assets/banner5.png");
  }
  .slide6 {
    background-image: url(
    "../assets/banner6.jpg");
  }
  .slide7 {
    background-image: url(
    "../assets/banner7.jpg");
  }
  .slide8 {
    background-image: url(
    "../assets/banner8.jpg");
  }
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 500%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  #arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 20px;
  }
  
  #arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 20px;
  }
  
